<div class="card" id="<%= dom_id(message)%>">
  <div class="card-header bg-info">
    <strong><%= message.user %></strong>
    <small><%= message.created_at %></small>
  </div>

  <div class="card-block">
    <%= message.body %>
  </div>
</div>

