<h1>Simple Messager</h1>

<br>

<%= render 'new_message' %>

<% if @messages.present? %>

  <div class="card messages-container">
    <div class="card-block">
      <%= render @messages %>
    </div>
  </div>

  <%= render 'new_message' %>
<% end %>
